@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  margin: 20px auto 0;
  display: block;
  max-width: 350px;
  padding: 20px;
  border-radius: 10px;
}

.app-header {
  text-align: center;
  font-size: 22px;
}
.dash-header {
  font-size: 15px;
  margin-top: 26px;
}
.dash-amount {
  font-size: 30px;
  margin-top: -7px;
  font-weight: 500;
}
.dash-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: white;
  border-radius: 14px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
}
.dash-income-wrapper {
  flex-grow: 1;
  border-right: 1px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dash-expense-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dash-income-wrapper > * {
  margin: 5px;
}
.dash-expense-wrapper > * {
  margin: 5px;
}
.dash-income-wrapper > p {
  font-weight: 500;
  font-size: 17px;
  color: green;
}
.dash-expense-wrapper > p {
  font-weight: 500;
  color: red;
  font-size: 17px;
}